@mixin message-node ($name, $color) {
  #{if(&, '#', '*')}.is-#{$name}{
    background-color: lighten($color, 50%);
    color: $color;
    &:hover {
      box-shadow: 0 0 10px 2px $color;
    }
  }
}

.message-block {
  pointer-events: all;
  display: flex;
  position: relative;
  flex: 0 1 auto;
  min-height: 80px;
  padding: 14px 14px;
  margin: 10px 10px;
  background: #BDE2ED;
  opacity: 0.8;
  color: #115977;
  justify-content: space-around;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  &:active {
    transform: scale(1.05);
  }
  &:hover {
    box-shadow: 0 0 10px 2px #115977;
    border-radius: 5px;
    opacity: 1;
  }

  .content {
    margin-bottom: 0
  }
}